@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>List of Students</h1>
    <h1>@ViewBag.info</h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in (List<StudentModel>)ViewData["list_of_students"]) // Casting to List<Item> to access the list
            {
                <tr>
                    <td>@item.studentId</td>
                    <td>@item.studentName</td>
                    <td>@item.studentDept</td>
                </tr>
            }
            </tbody>
        </table>
        @*<table class ="table">
             <thead>
                <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Department</th>
                </tr>
            </thead>
            <tbody>
            @foreach (StudentModel book in ViewBag.students)
            {
                <tr>
                    <td>
                        @book.studentName
                    </td>
                    <td>
                        @book.studentDept
                    </td>
                    <td>
                        @book.studentId
                    </td>
                </tr>
            }
            </tbody>
        </table>*@
        


    </div>
</div>
